services:
  server:
    build: 
      context: ./src/server
      dockerfile: ./docker/Dockerfile
      target: local
    container_name: federated-collection-discovery-server
    ports:
      - "8000:8000"
    volumes:
      - ./src/server/app:/work/app
    environment:
      - PYTHONUNBUFFERED=1
      - FEDERATED_STAC_API_URLS=https://stac.maap-project.org/,https://openveda.cloud/api/stac/,https://catalogue.dataspace.copernicus.eu/stac
      # - FEDERATED_CMR_URLS=https://cmr.earthdata.nasa.gov/search/
  client:
    build: 
      context: ./src/client
      dockerfile: ./docker/Dockerfile
    container_name: federated-collection-discovery-client
    ports:
      - "3000:3000"
    volumes:
      - ./src/client:/app
      - node_modules:/app/node_modules

    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_API_URL=http://localhost:8000
    depends_on:
      - server
volumes:
  node_modules:
