interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?keyword=hls&page_size=2000
  response:
    body:
      string: "{\"feed\":{\"updated\":\"2024-10-17T11:49:16.377Z\",\"id\":\"https://cmr.earthdata.nasa.gov:443/search/collections.json?keyword=hls&page_size=2000\",\"title\":\"ECHO
        dataset metadata\",\"entry\":[{\"processing_level_id\":\"3\",\"cloud_hosted\":true,\"boxes\":[\"-90
        -180 90 180\"],\"has_combine\":false,\"time_start\":\"2013-04-11T00:00:00.000Z\",\"version_id\":\"2.0\",\"updated\":\"2021-08-24T00:00:00.000Z\",\"dataset_id\":\"HLS
        Landsat Operational Land Imager Surface Reflectance and TOA Brightness Daily
        Global 30m v2.0\",\"has_spatial_subsetting\":false,\"has_transforms\":false,\"associations\":{\"variables\":[\"V3204003817-LPCLOUD\",\"V3204003920-LPCLOUD\",\"V3204003671-LPCLOUD\",\"V3204003708-LPCLOUD\",\"V3204003748-LPCLOUD\",\"V3204003860-LPCLOUD\",\"V3204003866-LPCLOUD\",\"V3204003840-LPCLOUD\",\"V3204003828-LPCLOUD\",\"V3204003787-LPCLOUD\",\"V3204003886-LPCLOUD\",\"V3204003770-LPCLOUD\",\"V3204003902-LPCLOUD\",\"V3204003723-LPCLOUD\",\"V3204003692-LPCLOUD\"],\"tools\":[\"TL1860232272-LPDAAC_ECS\"]},\"has_variables\":true,\"data_center\":\"LPCLOUD\",\"short_name\":\"HLSL30\",\"organizations\":[\"LP
        DAAC\",\"NASA/IMPACT\"],\"title\":\"HLS Landsat Operational Land Imager Surface
        Reflectance and TOA Brightness Daily Global 30m v2.0\",\"coordinate_system\":\"CARTESIAN\",\"summary\":\"The
        Harmonized Landsat Sentinel-2 (HLS) project provides consistent surface reflectance
        (SR) and top of atmosphere (TOA) brightness data from a virtual constellation
        of satellite sensors. The Operational Land Imager (OLI) is housed aboard the
        joint NASA/USGS Landsat 8 and Landsat 9 satellites, while the Multi-Spectral
        Instrument (MSI) is mounted aboard Europe\u2019s Copernicus Sentinel-2A and
        Sentinel-2B satellites. The combined measurement enabl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?keyword=awesome&page_size=2000
  response:
    body:
      string: '{"feed":{"updated":"2024-10-17T11:49:16.913Z","id":"https://cmr.earthdata.nasa.gov:443/search/collections.json?keyword=awesome&page_size=2000","title":"ECHO
        dataset metadata","entry":[]}}'
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - 658b6a31-677a-4dd2-a20d-453d72544dcb
      CMR-Took:
      - '13'
      Content-MD5:
      - e3c34fee5d2b158b6b3ac0739830dbfe
      Content-SHA1:
      - 07bbc69e5cce8742cacd1271d3f84539499b731c
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
