interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?keyword=OPERA%20Coregistered%20Single-Look%20Complex&page_size=2000
  response:
    body:
      string: "{\"feed\":{\"updated\":\"2025-01-31T02:30:26.870Z\",\"id\":\"https://cmr.earthdata.nasa.gov:443/search/collections.json?keyword=OPERA%20Coregistered%20Single-Look%20Complex&page_size=2000\",\"title\":\"ECHO
        dataset metadata\",\"entry\":[{\"processing_level_id\":\"2\",\"cloud_hosted\":true,\"has_combine\":false,\"time_start\":\"2014-04-03T00:00:00.000Z\",\"version_id\":\"1\",\"dataset_id\":\"OPERA
        Coregistered Single-Look Complex from Sentinel-1 Static Layers validated product
        (Version 1)\",\"entry_id\":\"OPERA_L2_CSLC-S1-STATIC_V1_1\",\"has_spatial_subsetting\":false,\"has_transforms\":false,\"has_variables\":false,\"data_center\":\"ASF\",\"short_name\":\"OPERA_L2_CSLC-S1-STATIC_V1\",\"organizations\":[\"ASF\",\"NASA/JPL/OPERA\"],\"title\":\"OPERA
        Coregistered Single-Look Complex from Sentinel-1 Static Layers validated product
        (Version 1)\",\"coordinate_system\":\"CARTESIAN\",\"summary\":\"The Observational
        Products for End-Users from Remote Sensing Analysis (OPERA) Coregistered Single-Look
        Complex (CSLC) from Sentinel-1 (S1) Static Layers (CSLC-S1-STATIC) validated
        product contains static radar geometry layers associated with the OPERA Coregistered
        Single-Look Complex (CSLC) from Sentinel-1 (S1) validated product. Due to
        the S1 mission\u2019s narrow orbital tube, radar-geometry layers vary slightly
        over time for each position on t[...]
